# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IEDA_JAVA\day03_eesy_04two_form_app3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
